body{
    background-color: chocolate;
}

.animacion{
    width: 600px;                    /* Tamaño de la imagen */
    transition: transform 1s;         /*  Duracion de la animación */
}

.animacion:hover{            /* Ponemos un hover para que al pasar el raton por la imagen se active la animacion */
    transform: scale(1.6);   /* Para que la imagen escale su tamaño */
    
}



.color{
    color: brown;
    background-color: chocolate;
    font-family: 'Times New Roman', Times, serif;
}