*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}

.head {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    align-items: center;
    height: 70px;
    background-color: #000000;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 0 20px;
}

.logo img {
    height: 50px; 
    width: 50px; 
}

.logo a {
    text-decoration: none;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    width: 100%;
    list-style: none;
}

.navbar a, .navbar .logo {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin: 0 65px;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar a:hover, .navbar .logo:hover {
    color: #ffffff;
    background-color: #929394;
}


.origenes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background: url(Evolución_lenguaje_de_marcas.jpg) no-repeat center;
}

.title {
    margin-bottom: 50px; 
    font-size: 50px; 
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(87, 9, 155);
}

p {
    margin-bottom: 40px; 
    font-size: 18px; 
    color: black;
    padding: 0 100px;
}

.content {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diferentes_estandares {
    padding: 30px; 
    background: #5516ca;
    color: #ffffff; 
}

.origenes_diferencias {
    background: navajowhite;
    color: #333; 
}

.principales_etiquetas {
    background: url() no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: #333; 
}

.principales_elementos {
    padding: 20px 0;
    background: khaki;
}

@media (max-width: 768px) {

    .title {
        margin-bottom: 16px; 
        font-size: 40px; 
    }

    .sau{
        height: 120vh;
    }

    .navbar {
        display: none;
    }
}

.animarlogo {
    height: 54px;
    width: 100px;
    margin-left: -30px;
    animation: alternate-reverse;
}