*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}

html {
    scroll-behavior: smooth;
}

.head {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    align-items: center;
    height: 70px;
    background-color: #000000;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 0 20px;
}

.logo img {
    height: 50px; 
    width: 50px; 
    margin-left: 75px;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    width: 100%;
    list-style: none;
}

.navbar a, .navbar .logo {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin: 0 65px;
    text-decoration: none;
    transition: color 0.3s ease;
    background-color: 0.3s ease;
}

.navbar a:hover, .navbar .logo:hover {
    color: #ffffff;
    background-color: #929394;
}

header ul {
    font-size: 16px; 
}

.origenes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background: url() no-repeat center;
}

.title1 {
    display: flex;
    font-size: 50px; 
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(96, 95, 97);
    margin-top: 40px; 
}


.subtitle {
    font-size: 30px; 
    color: rgb(135, 133, 136); 
    margin-top: 20px; 
}

p {
    margin-top: 40px; 
    font-size: 18px; 
    color: black;
    padding: 0 100px;
}

.content {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diferentes_estandares {
    padding: 30px; 
    background: #000000;
    color: #ffffff; 
}

.title2{
    display: flex;
    font-size: 50px; 
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(96, 95, 97);
    margin-top: -25px; 
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.text-content1 {
    width: 60%;
    font-size: 18px;
}

.image-content img {
    width: 110%;
    height: auto;
    margin-top: 40px;
}

.origenes_diferencias {
    background: #aca9a9;
}

.title3{
    font-size: 50px; 
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(96, 95, 97);
    margin-top: 78px; 
}

.text-content2 {
    width: 60%;
}


.principales_etiquetas {
    background: url(html5.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: #333; 
}

.title4{
    font-size: 50px; 
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(96, 95, 97);
    margin-top: -5px; 
}


.principales_elementos {
    padding: 20px 0;
    background: whitesmoke;
}

.title5{
    font-size: 50px; 
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(96, 95, 97);
    margin-top: -60px; 
}

@media (max-width: 768px) {
    .title, .title5 {
        font-size: 30px; 
    }

    .sau{
        height: auto;
    }

    .navbar {
        display: none;
    }

    .principales_elementos {
        padding: 10px 0;
    }
}